/* Header section */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 1340px;
  min-height: 109px;
  margin: 92px auto;
  font: 400 18px/normal sans-serif;
  box-sizing: border-box;
  flex-shrink: 0;
}

.header__menu {
  display: flex;
  flex-direction: row;
}

.header__links-list {
  list-style-type: circle;
  padding: 0 32px 0 1px;
}

.header__links-list_last_item {
  padding-right: 0;
}

.header__links-list a:link,
.menu a:hover,
.menu a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.first-child {
  list-style-type: none;
}

.header__link_active,
.header__link_active a:link {
  text-decoration: none;
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  display: flex;
  justify-content: end;
  margin: auto;
}

.contacts {
  margin-left: 207px;
}

.contacts__li {
  text-decoration: underline;
  line-height: 24.3px;
  text-align: left;
  list-style-type: none;
  flex-shrink: 0;
}

.contacts__ul {
  list-style-type: none;
  text-align: left;
}

.contacts__li a:link {
  text-decoration: none;
}

.address {
  text-decoration: none;
  line-height: 24.3px;
  font-style: normal;
}

/* Cover section */
.cover {
  width: 1440px;
  margin: auto;
  background: url(../images/cover.jpg) lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  flex-shrink: 0;
}

.cover__title {
  width: 1340px;
  letter-spacing: 30px;
  margin: 165px 50px 0 50px;
  flex-shrink: 0;
}

.aligned-text {
  color: #fff;
  font: 700 100px/115% Raleway, sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
}

.aligned-text_center {
  color: #fff;
  text-align: center;
  font: 700 100px/100% Raleway, sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
}

.aligned-text_right {
  color: #fff;
  text-align: right;
  font: 700 100px/100% Raleway, sans-serif;
  text-transform: uppercase;
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  min-width: 1340px;
  margin: 135px 50px 50px 50px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  flex-shrink: 0;
}

.cover__description-text {
  color: #fff;
  text-align: center;
  font: 400 22px/28px Raleway, sans-serif;
  text-transform: uppercase;
  word-spacing: 18px;
  align-self: center;
  margin-right: 78px;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font: 400 22px/normal Raleway, sans-serif;
  text-transform: uppercase;
  background: none;
  align-self: flex-end;
  flex-shrink: 0;
}

/* Lots section */
.lots {
  width: 1340px;
  margin: auto;
  margin-top: 180px;
}

.lots__heading {
  color: #000;
  font: 700 40px/normal Raleway, sans-serif;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding-bottom: 30px;
}

.card_type_film {
  display: block;
  background: url(../images/card-lot-01.jpg) lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
  flex: 0 0 auto;
  align-self: auto;
  order: 0;
}

.card_type_book {
  display: block;
  background: url(../images/card-lot-02.jpg) lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 25px;
  flex: 0 0 auto;
  align-self: auto;
  order: 0;
}

.card_type_picture {
  display: block;
  background: url(../images/card-lot-03.jpg) lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 auto;
  align-self: flex-end;
  order: 0;
}

.card__link {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  width: 430px;
}

.card__title {
  color: #fff;
  font: 700 22px/120% Raleway, sans-serif;
  text-transform: uppercase;
  text-decoration-line: underline;
  width: 350px;
  align-self: flex-start;
}

.card__text {
  color: #fff;
  font: 400 20px/120% Raleway, sans-serif;
  align-self: flex-end;
}

.card {
  text-decoration: none;
}

.lots__look-more-link {
  color: #000;
  font: 400 20px/normal Raleway, sans-serif;
  padding-left: 40px;
}

/* About section */
.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0 }

